<header>
    <ul class="nav">
        <li{% if include.param == 1 %} class="active" {%  endif %}><a href="/">首页</a></li>
        <li{% if include.param == 2 %} class="active" {%  endif %}><a href="/archives.html">文章</a></li>
        <li><center><img src="https://avatars0.githubusercontent.com/u/4033093?v=2&s=460" title="ONEWateR"></center></li>
        <li{% if include.param == 3 %} class="active" {%  endif %}><a href="/personal.html">个人</a></li>
        <li{% if include.param == 4 %} class="active" {%  endif %}><a href="/about.html">关于</a></li>
    </ul>
</header>
