<html>
    <head>
        <title>{{ page.title }}</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <!-- 导航条 -->
        <header>
            <ul class="nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">文章</a></li>
                <li><center><img src="/img/onewater.jpg" title="ONEWateR"></center></li>
                <li><a href="#">个人</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </header>
        <!-- 内容 -->
        <div class="warp">
            <div class="content">
                <div class="post">
                    <h1>{{ page.title }}</h1>
                    <p class="post-time">{{ page.date | date: '%Y/%m/%d' }}</p>
                    <div class="post-content">
                        {{ content }}
                    </div>
                </div>
                 <div class="post" style="margin-top: 24px">
                    <h4>评论</h4>
                </div>
            </div>
           
        </div>
        <!-- 底部 -->
        <footer>
                <center>Designed By ONEWateR</center>
        </footer>
    </body>
</html>